.list-item {
  width: auto;
  background-color: #fff;
  font-size: 25px;
  font-weight: 500;
  border: 2px solid #eee;
  box-shadow: 1px solid rgba(0,0,0, 0.15);
  list-style: none;
  margin-top: 10px;
  padding-left: 30px;
  text-transform: capitalize;
}

.btn-fix {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin: 5px;
  position: relative;
  float: right;
}

.ul {
  padding: 0;
}

.completed {
  text-decoration: line-through;
}